:root {
  --primary-color: #2e2f42;
  --primary-text-color: #434455;
  --primary-bg-color: #fff;
  --accent-color: #404bbf;
  --primary-brand: #4d5ae5;
  --light-brand: #f4f4fd;
  --primary-bg-color: #e5e5e5;
  --white-color: #ffffff;
  --light-text-color: #e7e9fc;
  --success: #31d0aa;
  --subtle-text: #8e8f99;
  --line-height: 1.5;
  --general-letter-spacing: 0.02em;
  --general-align-items: center;
  --flex-main-gap: 40px;
  --flex-list-gap: 24px;
  --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background: var(--white-color);
  color: var(--primary-color);

  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: var(--general-letter-spacing);
  text-align: center;
  text-transform: capitalize;
}

@media screen and (max-width: 1157px) {
  .adv-icon {
    display: none;
  }
  .our-works {
    display: none;
  }
}

/**PORTFOLIO*/
/* .portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  gap: var(--flex-list-gap);
  margin-bottom: 72px;
}

.portfolio-btn {
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: var(--line-height);
  align-items: var(--general-align-items);
  text-align: var(--general-align-items);
  letter-spacing: 0.04em;
  padding: 12px 24px;
  min-width: 78px;
  height: 48px;
  color: #4d5ae5;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms var(--timing-fn),
    color 250ms var(--timing-fn);
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.portfolio-btn:active {
  border-color: transparent;
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */

/**PORTFOLIO EXAMPLES*/
/* .gallery-list {
  display: flex;
  justify-content: center;
  column-gap: var(--flex-list-gap);
  row-gap: 48px;
  flex-wrap: wrap;
}

.gallery-card {
  width: 360px;
}

.card-link {
  display: block;
  transition: box-shadow 250ms var(--timing-fn);
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-link:hover .card-cover-text,
.card-link:focus .card-cover-text {
  transform: translateY(0);
}

.card-cover {
  position: relative;
  overflow: hidden;
}

.card-cover-text {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: var(--line-height);
  letter-spacing: var(--general-letter-spacing);
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-fn);
}

.card-info {
  padding: 32px 16px;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}

.card-title {
  font-style: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: var(--general-letter-spacing);
  color: var(--title-text-color);
  text-transform: capitalize;
  margin-bottom: 8px;
}

.card-text {
  font-style: inherit;
  line-height: var(--line-height);
  letter-spacing: var(--general-letter-spacing);
  color: var(--primary-text-color);
} */

/**MODAL*/
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms var(--timing-fn), visability 250ms var(--timing-fn);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: rotate(180deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--timing-fn);
  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms var(--timing-fn);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
}

.modal-close-btn:hover .close-icon,
.modal-close-btn:focus .close-icon {
  fill: #ffffff;
}

.close-icon {
  transition: fill 250ms var(--timing-fn);
}

.modal-data {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: var(--line-height);
  text-align: var(--general-align-items);
  letter-spacing: var(--general-letter-spacing);
  color: #2e2f42;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 8px;
}

.label-text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-container {
  display: block;
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250 ms var(--timing-fn);
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms var(--timing-fn);
}

.form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.form-input:focus + .input-icon {
  fill: #4d5ae5;
}

.form-comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms var(--timing-fn);
  margin-bottom: 16px;
}

.form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.form-comment:focus {
  outline: none;
  border-color: #4d5ae5;
}

.label-checkbox {
  display: flex;
  align-items: baseline;
  gap: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #757575;
  margin-bottom: 24px;
}

.label-checkbox span {
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.form-checkbox:checked + .label-checkbox span {
  background-color: #404bbf;
  border: 1px solid #404bbf;
  fill: #f4f4fd;
}

.form-checkbox:focus + .label-checkbox span {
  border-color: #404bbf;
}

.contract-terms {
  color: var(--title-text-color);
}

.contract-terms:hover,
.contract-terms:focus {
  color: #404bbf;
}

.modal-submit-btn {
  min-width: 169px;
  padding: 16px 32px;
  align-self: center;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  line-height: var(--line-height);
  cursor: pointer;
  transition: background-color 250ms var(--timing-fn);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
