.container {
  width: 768px;
}

.header {
  border-bottom: 1px solid var(--light-text-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  width: 100%;
  display: flex;
  align-items: var(--general-align-items);
  justify-content: space-between;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  width: 115px;
  height: 24px;
}

.logo-studio {
  color: var(--primary-color);
}

.mobile-menu {
  display: none;
}

.menu-btn {
  display: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: var(--general-align-items);
}

.menu {
  display: flex;
  align-items: var(--general-align-items);
  gap: var(--flex-main-gap);
  padding: 0;
  margin-left: 120px;
  transition: 250ms var(--timing-fn);
}

.menu-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: var(--line-height);
  letter-spacing: var(--general-letter-spacing);
  color: var(--title-text-color);
  padding-top: 24px;
  padding-bottom: 24px;
  transition: 250ms var(--timing-fn);
}

.menu-link:hover,
.menu-link:focus,
.menu-link:active {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background: #404bbf;
  border-radius: 2px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: var(--general-align-items);
  gap: 12px;
  margin-left: auto;
  transition: 250ms var(--timing-fn);
}

.contacts-link {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--primary-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.hero {
  width: 100%;
  height: 436px;
  padding: 112px 0;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--primary-color);
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/tablet/hero-tablet.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/tablet/hero-tablet-2x.jpg");
  }
}

.hero-container {
  width: 768px;
}

.hero-title {
  margin: 0 auto 40px;
  max-width: 496px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: var(--general-letter-spacing);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-btn {
  padding: 16px 32px;
  margin: 0 auto;
  color: var(--white-color);
  background-color: var(--primary-brand);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: var(--line-height);
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background 250ms var(--timing-fn);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color);
}

.advantages {
  padding: 96px 0;
}

.adv-container {
  width: 100%;
}

.adv-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: center;
}

.adv-list-item {
  width: 356px;
}

.adv-list-title {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: var(--general-letter-spacing);
  text-transform: capitalize;
}

.adv-list-text {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: var(--line-height);
  letter-spacing: var(--general-letter-spacing);
  margin-top: 8px;
}

.team {
  padding: 96px 0;
  background-color: var(--light-brand);
}

.team-container {
  width: 582px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 64px 24px;
  justify-content: center;
}

.team-list-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  padding: 32px 14px;
  min-width: 232px;
  text-align: center;
}

.team-member {
  margin-bottom: 8px;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: var(--line-height);
  text-align: center;
}

.team-member-discr {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: var(--line-height);
  letter-spacing: var(--general-letter-spacing);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: var(--flex-list-gap);
  margin-top: 8px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: var(--general-align-items);
  padding: 12px;
  width: 100%;
  height: 100%;
  background-size: 40px;
  background-color: var(--primary-brand);
  border-radius: 50%;
  transition: background-color 250ms var(--timing-fn);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  transition: fill 250ms var(--timing-fn);
}

.social-list-icon {
  fill: var(--light-brand);
}

.customers {
  padding: 96px 0;
}

.customers-container {
  width: 582px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: center;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: var(--general-align-items);
  width: 168px;
  height: 88px;
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  gap: var(--flex-list-gap);
  padding: 16px 32px;
  cursor: pointer;
  transition: 250ms var(--timing-fn);
}

.customers-icon {
  fill: var(--subtle-text);
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.customers-icon {
  transition: fill 250ms var(--timing-fn);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--accent-color);
}

.logo-studio-footer {
  color: var(--light-brand);
}

.footer {
  padding: 96px 0;
  background-color: var(--primary-color);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  width: 582px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  width: 268px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: var(--line-height);
  letter-spacing: var(--general-letter-spacing);
  color: var(--light-brand);
  margin-top: 16px;
}

.footer-social-media {
  display: flex;
  flex-direction: column;
  width: 208px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand);
  transition: background-color 250ms var(--timing-fn);
}

.footer-social-list-icon {
  fill: var(--light-brand);
  transition: fill 250ms var(--timing-fn);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--success);
}

.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: var(--line-height);
  letter-spacing: var(--general-letter-spacing);
  color: var(--white-color);
}

.footer-subscription {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.subscription-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: var(--general-align-items);
  gap: 16px;
}

.subscribe-label {
  width: 100%;
}

.subscription-input {
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-color);
  transition: border 250ms var(--timing-fn);
}

.subscription-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.subscription-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-btn {
  display: flex;
  justify-content: center;
  align-items: var(--general-align-items);
  min-width: 165px;
  padding: 8px 24px;
  gap: 16px;
  background: var(--primary-brand);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: var(--line-height);
  letter-spacing: 0.04em;
  color: var(--white-color);
  border: 1px solid transparent;
  transition: background-color 250ms var(--timing-fn);
}

.subscription-btn:hover,
.subscription-btn:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-icon {
  fill: var(--white-color);
  transition: fill 250ms var(--timing-fn);
}

.portfolio {
  padding-top: 64px;
  padding-bottom: 96px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  gap: var(--flex-list-gap);
  margin-bottom: 64px;
}

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: var(--line-height);
  align-items: var(--general-align-items);
  text-align: var(--general-align-items);
  letter-spacing: 0.04em;
  padding: 12px 24px;
  min-width: 78px;
  height: 48px;
  color: var(--primary-brand);
  background: var(--light-brand);
  border: 1px solid var(--light-text-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms var(--timing-fn),
    color 250ms var(--timing-fn);
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.portfolio-btn:active {
  border-color: transparent;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.gallery-card {
  width: 356px;
}

.card-link {
  display: block;
  transition: box-shadow 250ms var(--timing-fn);
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-link:hover .card-cover-text,
.card-link:focus .card-cover-text {
  transform: translateY(0);
}

.card-cover {
  position: relative;
  overflow: hidden;
}

.card-cover-text {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: var(--line-height);
  letter-spacing: var(--general-letter-spacing);
  color: var(--light-brand);
  background-color: var(--primary-brand);
  padding: 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-fn);
}

.card-info {
  padding: 32px 16px;
  border-right: 1px solid var(--light-text-color);
  border-bottom: 1px solid var(--light-text-color);
  border-left: 1px solid var(--light-text-color);
}

.card-title {
  font-style: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: var(--general-letter-spacing);
  color: var(--title-text-color);
  text-transform: capitalize;
  margin-bottom: 8px;
}

.card-text {
  font-style: inherit;
  line-height: var(--line-height);
  letter-spacing: var(--general-letter-spacing);
  color: var(--primary-text-color);
}
